body{
  font-family: sans-serif;
  margin: 0px;
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header{
  background-color: #33CFFF;
  margin top: 0px;
  padding: 1px 1px 1px 2px;
}

#encabezado h3{
  color: white;
  text-align: center;
  padding: 13px 13px 13px 13px;
}

#section-1{
  background-color: white;
    color: black;
    float: left;
    /* background-position: center; */
    margin: 9px 11px 56px 51xp;
    /* border: 7px; */
    border: 20px 50px;
    margin: 40px 45px;
    padding: 36px 198px;
}

#section-1 button{
  color: #3347FF;
  border: none;
  font-size: 15px;
  background-color: white;
}

.reto{
  margin: 25px 54px 1px -155px;
}

#section-2{
  float: right;
  margin: 74PX 264PX;
  padding: 15px 37px 8px 7px;
}


#section-2 button{
  background-color: #33CFFF;
  color: white;
  padding: 6px;
}

#section-2 .contador{

}
